*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media only screen and (max-width:455px){
    .head{
        /* border: 2px solid red; */
        width:100vw;
        
        background-color:rgb(3, 250, 159);
        display: flex;
        height: 40px;
        align-items: center;
    flex-wrap: wrap;
    margin: auto;
    
    }
    .head span{
        color:rgb(10, 49, 27);
    }
    
    .right{
        /* border: 2px solid red; */
        transform: translateX(120px);
        margin: 0px -15px;
        
    }
    .right span:nth-child(1){
        border-right: 3px solid black;
         padding: 0px 10px;
        height: 0px;
        width: 0px;
     
    }
    .right span:nth-child(2){
        padding: 0px 10px;
    
    }
    .left{
        transform: translateX(20px); 
    }









    .icon{
        position: relative;
        top: 40px;
        font-size: 10px;
        transform: translateX(0px);
    }
}