*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*  head */
@media only screen and (max-width:455px){
    .head{
        /* border: 2px solid red; */
        width:100vw;
        
        background-color:rgb(3, 250, 159);
        display: flex;
        height: 40px;
        align-items: center;
    flex-wrap: wrap;
    margin: auto;
    
    }
    .head span{
        color:rgb(10, 49, 27);
    }
    
    .right{
        /* border: 2px solid red; */
        transform: translateX(120px);
        margin: 0px -15px;
        
    }
    .right span:nth-child(1){
        border-right: 3px solid black;
         padding: 0px 10px;
        height: 0px;
        width: 0px;
     
    }
    .right span:nth-child(2){
        padding: 0px 10px;
    
    }
    .left{
        transform: translateX(20px); 
    }
}

/*  head end here */


@media only screen and (max-width:455px) {
    .icon{
        display: flex;
        position: relative;
        right: 60px;
        
    }

    .nav{
        border: 2px solid black;
        position: fixed;
        width: 100vw;
        height: 10vh;
    }
    .logo{
        font-size: 30px;
        font-weight: bolder;
        transform: translateX(70px);
        padding: 10px 0;
    }
  .ham{
    height: 30px;
    width: 40px;
    
     /* background-color: black;  */
     position: relative; 
     left: 180px; 
     transform: translatey(185px); 
    display: flex;
    align-items: center;
    justify-content: center; 

  }
  .ham.active{
    left: 90px;
    top: -220px;

    /* transform: translateX(100px); */

  }
     .ham div{    height: 6px;
    width: 40px;
    border: 2px solid black;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    transition: .2s ease;

}

.ham div:nth-child(1){
    transform: translateY(12px);
}
.ham div:nth-child(3){
    transform: translateY(-12px);
}

.ham.active div:nth-child(1){
    transform:rotate(-45deg);
}
.ham.active div:nth-child(2){
 visibility: hidden;
 opacity: none;
}
.ham.active div:nth-child(3){
    transform:rotate(45deg);
}


.navigation ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 align-items: center;
 margin-top: 50px;
    
    
}
.navigation.active{position: relative;
    transform: translate(170px,220px);
    background-color: brown;
    height: 100vh;
    width: 70vw;
    transition: 1s ease;
    left: -130px;
    color: black;
    /* transition: 1s ease; */
    
   
    z-index: 2;
    
}
.logo.active{
    transform: translateX(10px);
    transition: .3s ease;
    animation: ak 2s infinite;
}
@keyframes ak {

    0%,100%{
        color: fuchsia;
    }
    50%{
        color: green;
    }
    100%{
        color: red;
    }
}
.hide{
    /* border: 2px solid green; */
    margin: 10px auto;
    padding-top: 5px;
    width: 130px;text-align: center;
    height: 50px;
}
.navigation{
    color: transparent;
    
    transform: translateX(-420px);
}




}